Makefile
Makefile.in
autom4te.cache/
aclocal.m4
compile
config.guess
config.h.in
config.sub
config.*.lineno
configure
configure.lineno
depcomp
doc/*.[1-5]
install-sh
ltmain.sh
m4/
missing
config.h
config.log
config.status
libtool
stamp-h1
file-*.tar.gz
.libs/
.deps/
magic/magic
magic/*.mgc
magic/Localstuff
src/*.o
src/*.lo
src/*.la
src/magic.h
src/file
tests/test